<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-select [(ngModel)]="selected_expense" interface="popover" (ionChange)="selected()" style="max-width: 80%; color: #ffffff;">
          <ion-option  *ngFor="let ex of expense_category; let i = index">{{ex}}</ion-option>
        </ion-select>
    <ion-buttons end>
      <button ion-button icon-left icon-only>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let e of expenses_instorage">
    <ion-card-header>
      {{e.spent_on}}
    </ion-card-header>
    <ion-item>
      <h2>${{get_total(e.transaction_id)}}</h2>
      <p>date</p>
      <ion-note>{{e.date | date:'medium'}}</ion-note>
    </ion-item>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="secondary" clear small icon-start>
          <ion-icon name='md-create'></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="danger" clear small icon-start>
          <ion-icon name='md-create'></ion-icon>
          Remove
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addExpense('Record Expense', 'danger', 'addExpense')">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>