
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end *ngIf="title != 'Add Products'">
      <button ion-button (click)="closeModal('')">
        close
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="showDone" (click)="closeModal('')">
      <button ion-button >
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content *ngIf="title == 'History'">
  <ion-list>
  <ion-item *ngFor="let history of HistoryArray" (click)="closeModal(history[1])" style="text-align: right; background: #4a3a63; color: #ffffff">
      <h3>{{history[0]}}</h3>
      <h3>={{history[1]}}</h3>
    </ion-item>
  </ion-list>
  <ion-fab left bottom>
    <button ion-fab color="danger" (click)="closeModal('del')">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


<ion-content *ngIf="title == 'Add Item'" padding="">
     <ion-list>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-select [(ngModel)]="temp_array.item_name" interface="alert">
          <ion-option *ngFor="let item of HistoryArray; let i = index" value="{{item.product_name}}" >
             {{item.product_name}} | ${{item.selling_price}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Discount</ion-label>
        <ion-input type="number" [(ngModel)]="temp_array.discount"></ion-input>
        <ion-icon *ngIf="dat" name='alert' item-end color="danger"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="temp_array.quantity"></ion-input>
        <ion-icon *ngIf="dat" name='alert' item-end color="danger"></ion-icon>
      </ion-item>
      </ion-list>

      <div style="text-align: center">
        <button ion-button outline icon-end color="primary" (click)="addItem()" style="margin-top:5px;">
          Add
        </button>
      </div>
</ion-content>
