
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end *ngIf="title != 'Add Products'">
      <button ion-button (click)="closeModal('')">
        close
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="showDone" (click)="closeModal('')">
      <button ion-button >
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content *ngIf="title == 'History'">
  <ion-list>
  <ion-item *ngFor="let history of HistoryArray" (click)="closeModal(history[1])" style="text-align: right; background: #4a3a63; color: #ffffff">
      <h3>{{history[0]}}</h3>
      <h3>={{history[1]}}</h3>
    </ion-item>
  </ion-list>
  <ion-fab left bottom>
    <button ion-fab color="danger" (click)="closeModal('del')">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="title == 'Accounts Totals'">
  <ion-list>
    <ion-item *ngIf="c">
      <ion-icon name="cash" item-start></ion-icon>
      <ion-label floating>Cash $</ion-label>
      <ion-input type="number" name="cash" [(ngModel)]="cash" ></ion-input>
    </ion-item>

    <ion-item *ngIf="e">
      <ion-icon name="tablet-portrait" item-start></ion-icon>
      <ion-label floating>EcoCash $</ion-label>
      <ion-input type="number" name="ecocash" [(ngModel)]="ecocash" ></ion-input>
    </ion-item>
    <div style="text-align: center">
      <button ion-button outline icon-end color="primary" (click)="saveAcc()" style="margin-right:0;">
        Save
      </button>
    </div>
      
  </ion-list>
</ion-content>


<ion-content *ngIf="title == 'Add Products'">
  <ion-list>
    <ion-item >
      <ion-label floating>Product Name</ion-label>
      <ion-input type="text" [(ngModel)]="product.product_name"></ion-input>
      <ion-note *ngIf="pname" color="danger" item-end><i>error</i></ion-note>
    </ion-item>

    <ion-item>
      <ion-label floating>Buying Currency</ion-label>
      <ion-select [(ngModel)]="product.buying_currency" interface="popover" style="max-width: 100%;">
        <ion-option value="USD">USD</ion-option>
        <ion-option value="ZAR">RAND</ion-option>
        <ion-option value="ZMW">KWACHA</ion-option>
        <ion-option value="BWP">PULA</ion-option>
        <ion-option value="MZN">METICAL</ion-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label floating>Buying Price {{product.buying_currency}} <span>(each)</span></ion-label>
      <ion-input type="number" [(ngModel)]="product.buying_price"></ion-input>
      <ion-note *ngIf="bprice" color="danger" item-end><i>error</i></ion-note>
    </ion-item>

    <ion-item>
      <ion-label floating>Selling Price <span>(each)</span> $</ion-label>
      <ion-input type="number" [(ngModel)]="product.selling_price"></ion-input>
      <ion-note *ngIf="sprice" color="danger" item-end><i>error</i></ion-note>
    </ion-item>

    <ion-item>
      <ion-label floating>Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="product.quantity"></ion-input>
      <ion-note *ngIf="quant" color="danger" item-end><i>error</i></ion-note>
    </ion-item>

    <ion-item>
      <ion-label floating>Description (optional)</ion-label>
      <ion-textarea [(ngModel)]="product.description"></ion-textarea>
    </ion-item>
    <div style="text-align: center">
      <button ion-button outline icon-end color="primary" (click)="addProduct()" style="margin-top:5px;">
        Save
      </button>
      <button *ngIf="showDone" ion-button outline icon-end color="secondary" (click)="done()" style="margin-top:5px;">
        Done
      </button>
    </div>

  </ion-list>
</ion-content>

<ion-content class="cards-bg" *ngIf="title == 'Add Item'" padding="">

     <ion-list>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-select [(ngModel)]="productArray.item_name" interface="alert">
          <ion-option *ngFor="let product of HistoryArray; let i = index" value="{{product.product_name}}" >
             {{product.product_name}} | ${{product.selling_price}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Discount</ion-label>
        <ion-input type="number" [(ngModel)]="productArray.discount"></ion-input>
        <ion-note *ngIf="sprice" color="danger" item-end>
          <i>error</i>
        </ion-note>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="productArray.quantity"></ion-input>
        <ion-note *ngIf="quant" color="danger" item-end>
          <i>error</i>
        </ion-note>
      </ion-item>
      </ion-list>

      <div style="text-align: center">
        <button ion-button outline icon-end color="primary" (click)="addItem()" style="margin-top:5px;">
          Add
        </button>
      </div>


</ion-content>
